/* ESTILOS CSS */
.contenedor{
	margin: auto;
	width: 750px;
	/*border:solid gray 1px;*/

	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:0px;

	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:0px;

	/* Otros estilos */ 
	border:1px solid #333;
	background:#eee;
	padding:10px;
}

.fila{
	height: 25px;
	clear: both;
}
.campoTexto {width: 90px; margin-bottom: 5px}
.campo {width: 80px; margin-bottom: 5px}
.comboPK {width: 70px; margin-bottom: 5px}

.audi_N input, .audi_N select {
	color: rgb(0, 210, 130);
}

.audi_S input, .audi_S select {
	color: rgb(108, 52, 190);
}